.dt-info > span.select-info {
    display: none;
}

#users-table tbody tr.selected td {
    color: inherit !important;
    box-shadow: none !important;
}

#departments-table tbody tr.selected td {
    color: inherit !important;
    box-shadow: none !important;
}

#positions-table tbody tr.selected td {
    color: inherit !important;
    box-shadow: none !important;
}
